<!DOCTYPE html>
<html lang="en" class="js cssanimations">
<head>
    <title>首页</title>
    {include file="common/header"/}
    <!--模板文件结束-->
</head>
<body data-type="" style="">
<div class="am-g tpl-g">
    <!-- 头部 -->
    {include file="common/nav"/}
    <!-- 侧边导航栏 -->
    {include file="common/menu"/}

    <!--<div class="tpl-content-wrapper" style="margin-left: 130px;">-->
        <!--<div class="row-content am-cf" style="padding: 0;">-->
            <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
            <!--&lt;!&ndash;顶部&ndash;&gt;-->
            <!--<div class="flex-items todayboxs">-->
                <!--<a class="flex-item" href="111">-->
                    <!--<img class="icon" src="http://www.propro.com/addons/group_buy/public/bg/Block-6.png">-->
                    <!--<div class="text">-->
                        <!--<div class="num">222</div>-->
                        <!--<div class="title">今日新增会员</div>-->
                    <!--</div>-->
                <!--</a>-->
                <!--<a class="flex-item" href="111">-->
                    <!--<img class="icon" src="http://www.propro.com/addons/group_buy/public/bg/Block-6.png">-->
                    <!--<div class="text">-->
                        <!--<div class="num">222</div>-->
                        <!--<div class="title">今日订单数</div>-->
                    <!--</div>-->
                <!--</a>-->
                <!--<a class="flex-item" href="111">-->
                    <!--<img class="icon" src="http://www.propro.com/addons/group_buy/public/bg/Block-6.png">-->
                    <!--<div class="text">-->
                        <!--<div class="num">222</div>-->
                        <!--<div class="title">今日审核佣金</div>-->
                    <!--</div>-->
                <!--</a>-->
                <!--<a class="flex-item" href="111">-->
                    <!--<img class="icon" src="http://www.propro.com/addons/group_buy/public/bg/Block-6.png">-->
                    <!--<div class="text">-->
                        <!--<div class="num">222</div>-->
                        <!--<div class="title">今日审核佣金</div>-->
                    <!--</div>-->
                <!--</a>-->
                <!--<a class="flex-item" href="111">-->
                    <!--<img class="icon" src="http://www.propro.com/addons/group_buy/public/bg/Block-6.png">-->
                    <!--<div class="text">-->
                        <!--<div class="num">222</div>-->
                        <!--<div class="title">今日审核佣金</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--&lt;!&ndash;中部&ndash;&gt;-->
            <!--<div class="row-panel">-->
                <!--<div class="row-panel-7">-->
                    <!--<div class="mypanel tasks-panel" style="min-height:240px; ">-->
                        <!--<div class="mypanel-heading">待处理事务</div>-->
                        <!--<div class="mypanel-body">-->
                            <!--<div class="flex-items tasks">-->
                                <!--&lt;!&ndash;<div class="flex-item">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div>商品库存报警</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a class="num hasnum" href="/Admin/product/management?isSafeStock=true">4</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--<div class="flex-item">-->
                                    <!--<div>仓库中商品</div>-->
                                    <!--<a class="num hasnum" href="./index.php?c=site&amp;a=entry&amp;do=goods&amp;m=group_buy">1</a>-->
                                <!--</div>-->
                                <!--<div class="flex-item">-->
                                    <!--<div>待付款订单</div>-->
                                    <!--<a class="num  no-pay-order" href="./index.php?c=site&amp;a=entry&amp;status=10&amp;do=order&amp;m=group_buy">0</a>-->
                                <!--</div>-->
                                <!--<div class="flex-item">-->
                                    <!--<div>待发货订单</div>-->
                                    <!--<a class="num hasnum" href="./index.php?c=site&amp;a=entry&amp;status=20&amp;do=order&amp;m=group_buy">11</a>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="flex-items tasks">-->
                                <!--<div class="flex-item">-->
                                    <!--<div>待处理退款</div>-->
                                    <!--<a class="num " href="./index.php?c=site&amp;a=entry&amp;op=back_money&amp;do=finance&amp;m=group_buy">0</a>-->
                                <!--</div>-->
                                <!--<div class="flex-item">-->
                                    <!--<div>提现申请</div>-->
                                    <!--<a class="num " href="./index.php?c=site&amp;a=entry&amp;do=finance&amp;m=group_buy">0</a>-->
                                <!--</div>-->
                                <!--<div class="flex-item">-->
                                    <!--<div>供应商申请</div>-->
                                    <!--<a class="num " href="./index.php?c=site&amp;a=entry&amp;do=supplier&amp;m=group_buy">0</a>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;<div class="flex-item">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div>待回复评价</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a class="num hasnum" href="/Admin/ProductComment/management?isReply=1&amp;isHome=1">37</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--</div>-->
                            <!--<div class="flex-items tasks">-->

                                <!--&lt;!&ndash;<div class="flex-item">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div>待处理退货</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a class="num " href="/Admin/OrderRefund/management?type=2&amp;status=1">0</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--<div class="flex-item">-->
                                    <!--<div>团长申请</div>-->
                                    <!--<a class="num " href="./index.php?c=site&amp;a=entry&amp;do=head&amp;m=group_buy">0</a>-->
                                <!--</div>-->
                                <!--<div class="flex-item">-->
                                    <!--<div>-->

                                    <!--</div>-->
                                    <!--<a class="num ">-->
                                    <!--</a>-->
                                <!--</div>-->
                                <!--<div class="flex-item">-->
                                    <!--<div></div>-->
                                    <!--<a class="num " href=""></a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="row-panel-5">-->
                    <!--<div class="mypanel">-->
                        <!--<div class="mypanel-heading">交易统计</div>-->
                        <!--<div class="mypanel-body">-->
                            <!--<div class="flex-items tasks">-->
                                <!--&lt;!&ndash;<div class="flex-item">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div>商品库存报警</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a class="num hasnum" href="/Admin/product/management?isSafeStock=true">4</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--<div class="flex-item">-->
                                    <!--<div>仓库中商品</div>-->
                                    <!--<a class="num hasnum" href="./index.php?c=site&amp;a=entry&amp;do=goods&amp;m=group_buy">1</a>-->
                                <!--</div>-->
                                <!--<div class="flex-item">-->
                                    <!--<div>待付款订单</div>-->
                                    <!--<a class="num  no-pay-order" href="./index.php?c=site&amp;a=entry&amp;status=10&amp;do=order&amp;m=group_buy">0</a>-->
                                <!--</div>-->
                                <!--<div class="flex-item">-->
                                    <!--<div>待发货订单</div>-->
                                    <!--<a class="num hasnum" href="./index.php?c=site&amp;a=entry&amp;status=20&amp;do=order&amp;m=group_buy">11</a>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="flex-items tasks">-->
                                <!--<div class="flex-item">-->
                                    <!--<div>待处理退款</div>-->
                                    <!--<a class="num " href="./index.php?c=site&amp;a=entry&amp;op=back_money&amp;do=finance&amp;m=group_buy">0</a>-->
                                <!--</div>-->
                                <!--<div class="flex-item">-->
                                    <!--<div>提现申请</div>-->
                                    <!--<a class="num " href="./index.php?c=site&amp;a=entry&amp;do=finance&amp;m=group_buy">0</a>-->
                                <!--</div>-->
                                <!--<div class="flex-item">-->
                                    <!--<div>供应商申请</div>-->
                                    <!--<a class="num " href="./index.php?c=site&amp;a=entry&amp;do=supplier&amp;m=group_buy">0</a>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;<div class="flex-item">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div>待回复评价</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a class="num hasnum" href="/Admin/ProductComment/management?isReply=1&amp;isHome=1">37</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--</div>-->
                            <!--<div class="flex-items tasks">-->

                                <!--&lt;!&ndash;<div class="flex-item">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div>待处理退货</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a class="num " href="/Admin/OrderRefund/management?type=2&amp;status=1">0</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--<div class="flex-item">-->
                                    <!--<div>团长申请</div>-->
                                    <!--<a class="num " href="./index.php?c=site&amp;a=entry&amp;do=head&amp;m=group_buy">0</a>-->
                                <!--</div>-->
                                <!--<div class="flex-item">-->
                                    <!--<div>-->

                                    <!--</div>-->
                                    <!--<a class="num ">-->
                                    <!--</a>-->
                                <!--</div>-->
                                <!--<div class="flex-item">-->
                                    <!--<div></div>-->
                                    <!--<a class="num " href=""></a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;底部&ndash;&gt;-->
            <!--<div class="row-panel">-->
                <!--<div class="row-panel-7">-->
                    <!--<div class="mypanel total-panel">-->
                        <!--<div class="mypanel-heading">商城信息统计</div>-->
                        <!--<div class="mypanel-body">-->
                            <!--<div class="flex-items total-mes">-->

                                <!--<div class="flex-item">-->
                                    <!--<div class="num">1</div>-->
                                    <!--<div>会员总数</div>-->
                                <!--</div>-->
                                <!--<div class="flex-item">-->
                                    <!--<div class="num">1</div>-->
                                    <!--<div>团长总数</div>-->
                                <!--</div>-->
                                <!--<div class="flex-item">-->
                                    <!--<div class="num">5083.00</div>-->
                                    <!--<div>总销售额（元）</div>-->
                                <!--</div>-->

                            <!--</div>-->
                            <!--<div class="flex-items total-mes">-->
                                <!--<div class="flex-item">-->
                                    <!--<div class="num">0</div>-->
                                    <!--<div>近七天订单数</div>-->
                                <!--</div>-->
                                <!--<div class="flex-item">-->
                                    <!--<div class="num">0</div>-->
                                    <!--<div>近7天销售额（元）</div>-->
                                <!--</div>-->
                                <!--<div class="flex-item">-->
                                    <!--<div class="num">0</div>-->
                                    <!--<div>近7天退款金额（元）</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row-panel-5">-->
                    <!--<div class="mypanel quick-panel">-->
                        <!--<div class="mypanel-heading">快捷入口</div>-->
                        <!--<div class="mypanel-body">-->
                            <!--<div class="flex-items quick-nav">-->
                                <!--<a href="./index.php?c=site&amp;a=entry&amp;op=add&amp;do=goods&amp;m=group_buy" class="flex-item">-->
                                    <!--<i class="fa fa-shopping-bag"></i>-->
                                    <!--<div>新增商品</div>-->
                                <!--</a>-->
                                <!--<a href="./index.php?c=site&amp;a=entry&amp;do=order&amp;m=group_buy" class="flex-item">-->
                                    <!--<i class="fa fa-file-text-o"></i>-->
                                    <!--<div>订单列表</div>-->
                                <!--</a>-->

                                <!--<a href="./index.php?c=site&amp;a=entry&amp;do=member&amp;m=group_buy" class="flex-item">-->
                                    <!--<i class="fa fa-users"></i>-->
                                    <!--<div>会员管理</div>-->
                                <!--</a>-->
                                <!--<a href="./index.php?c=site&amp;a=entry&amp;op=index&amp;do=head&amp;m=group_buy" class="flex-item">-->
                                    <!--<i class="fa fa-user"></i>-->
                                    <!--<div>团长管理</div>-->
                                <!--</a>-->
                                <!--<a href="./index.php?c=site&amp;a=entry&amp;do=distribution&amp;m=group_buy" class="flex-item">-->
                                    <!--<i class="fa fa-truck"></i>-->
                                    <!--<div>配送单管理</div>-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<div class="flex-items quick-nav">-->
                                <!--<a href="./index.php?c=site&amp;a=entry&amp;do=market&amp;m=group_buy" class="flex-item">-->
                                    <!--<i class="fa fa-line-chart"></i>-->
                                    <!--<div>优惠券</div>-->
                                <!--</a>-->
                                <!--&lt;!&ndash;<a href="/Admin/FullDiscount/Index" class="flex-item">&ndash;&gt;-->
                                <!--&lt;!&ndash;<i class="iconfont icon-p6"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div>满额减</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="./index.php?c=site&a=entry&do=market&m=group_buy" class="flex-item">&ndash;&gt;-->
                                <!--&lt;!&ndash;<i class="iconfont icon&#45;&#45;coin-yen"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div>财务管理</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="/Admin/Statistics/TradeStatistic" class="flex-item">&ndash;&gt;-->
                                <!--&lt;!&ndash;<i class="iconfont icon&#45;&#45;stats-bars1"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div>统计报表</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                <!--<a href="./index.php?c=site&amp;a=entry&amp;do=config&amp;m=group_buy" class="flex-item">-->
                                    <!--<i class="fa fa-cogs"></i>-->
                                    <!--<div>基本设置</div>-->
                                <!--</a>-->
                                <!--<a class="flex-item">-->

                                <!--</a>-->
                                <!--<a class="flex-item">-->

                                <!--</a>-->

                                <!--<a class="flex-item">-->

                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;排行榜&ndash;&gt;-->

            <!--<div class="flex-items rank">-->
                <!--<div class="flex-item">-->
                    <!--<div class="top-title">-->
                        <!--<div class="title" style="border-color: #ED8E20;">-->
                            <!--<div style="font-size: 26px;font-weight: 600;color:#ED8E20;">0</div>-->
                            <!--<div style="font-size: 14px;">团长销售额</div>-->

                        <!--</div>-->
                        <!--<div class="" style="width: 90%;text-align: right;line-height: 26px;margin:0 auto;color: #436be6;"><a href="./index.php?c=site&amp;a=entry&amp;op=index&amp;fresh=1&amp;do=overview&amp;m=group_buy">刷新</a></div>-->
                    <!--</div>-->
                    <!--<table>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<th>销售榜单</th>-->
                            <!--<th>团长名称</th>-->
                            <!--<th>销售额</th>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>1</td>-->
                            <!--<td></td>-->
                            <!--<td>￥</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>1</td>-->
                            <!--<td></td>-->
                            <!--<td>￥</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->

                <!--</div>-->
                <!--<div class="flex-item">-->
                    <!--<div class="top-title">-->
                        <!--<div class="title" style="border-color: #04C65D;">-->
                            <!--<div style="font-size: 26px;font-weight: 600;color:#ED8E20;">0</div>-->
                            <!--<div style="font-size: 14px;color:#04C65D;">商品销售数</div>-->

                        <!--</div>-->
                        <!--<div class="" style="width: 90%;text-align: right;line-height: 26px;margin:0 auto;color: #436be6;"><a href="./index.php?c=site&amp;a=entry&amp;op=index&amp;fresh=1&amp;do=overview&amp;m=group_buy">刷新</a></div>-->
                    <!--</div>-->
                    <!--<table>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<th>销售榜单</th>-->
                            <!--<th>商品名称</th>-->
                            <!--<th>销售数量</th>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>1</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>1</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->

                <!--</div>-->
                <!--<div class="flex-item">-->
                    <!--<div class="top-title">-->
                        <!--<div class="title" style="border-color: #6671E4;">-->
                            <!--<div style="font-size: 26px;font-weight: 600;color:#ED8E20;">0</div>-->
                            <!--<div style="font-size: 14px;color:#6671E4;">会员消费</div>-->
                        <!--</div>-->
                        <!--<div class="" style="width: 90%;text-align: right;line-height: 26px;margin:0 auto;color: #436be6;"><a href="./index.php?c=site&amp;a=entry&amp;op=index&amp;fresh=1&amp;do=overview&amp;m=group_buy">刷新</a></div>-->
                    <!--</div>-->

                    <!--<table>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<th>销售榜单</th>-->
                            <!--<th>会员名称</th>-->
                            <!--<th>消费金额</th>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>1</td>-->
                            <!--<td></td>-->
                            <!--<td>￥</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>1</td>-->
                            <!--<td></td>-->
                            <!--<td>￥</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->

                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
</body>
</html>