<html lang="en" class="js cssanimations">
<head>
    {include file="common/header"/}
</head>
<body data-type="" style="">
<div class="am-g tpl-g">
    <!-- 头部 -->
    <!-- 头部 -->
    {include file="common/nav"/}
    <!-- 侧边导航栏 -->
    {include file="common/menu"/}
    {include file="common/menu_style" /}
    <!-- 侧边导航栏 -->
    <!--右侧详细内容区域 from 自定义-->
    <div class="tpl-content-wrapper ">
        <!--本页自定义样式-->
        <!--<link rel="stylesheet" href="http://www.propro.com/addons/group_buy/style/css/goods.css">-->
        <!--<link rel="stylesheet" href="http://www.propro.com/addons/group_buy/style/css/umeditor.css">-->
        <!--右侧详细内容区域，灰框之内,from 妹子-->
        <div class="row-content am-cf">
            <!--2列式简单布局,from bootstap-->
            <div class="row">
                <!--12列布局,from 妹子-->
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <!--widget自定义右侧盒子 from 自定义 am-cf 清除全部浮动  from 妹子-->
                    <div class="widget am-cf">
                        <form action=""
                              method="post" class="am-form tpl-form-line-form" enctype="multipart/form-data">
                            <!--右侧正文 from 自定义 -->
                            <div class="widget-body">
                                <!--右侧正文 规定所有边距为0 from bootstap -->
                                <fieldset>
                                    <!--小标题 from 自定义-->
                                    <div class="widget-head am-cf">
                                        <div class="widget-title am-fl">基础设置</div>
                                    </div>
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-u-lg-2 am-form-label">AK</label>
                                        <div class="am-u-sm-9 am-u-end">
                                            <input type="hidden" name="id" value="{$info.id}">
                                            <input type="text" name="cloud_save_ak" value="{$info.cloud_save_ak}"
                                                   class="tpl-form-input am-fl" placeholder="请输入名称"
                                                   style="display: inline-block;">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-u-lg-2 am-form-label">SK</label>
                                        <div class="am-u-sm-9 am-u-end">
                                            <input type="text" name="cloud_save_sk" value="{$info.cloud_save_sk}"
                                                   class="tpl-form-input am-fl" placeholder="请输入名称"
                                                   style="display: inline-block;">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-u-lg-2 am-form-label">域名</label>
                                        <div class="am-u-sm-9 am-u-end">
                                            <input type="text" name="cloud_save_action" value="{$info.cloud_save_action}"
                                                   class="tpl-form-input am-fl" placeholder="请输入名称"
                                                   style="display: inline-block;">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-u-lg-2 am-form-label">bucket</label>
                                        <div class="am-u-sm-9 am-u-end">
                                            <input type="text" name="cloud_save_bucket" value="{$info.cloud_save_bucket}"
                                                   class="tpl-form-input am-fl" placeholder="请输入名称"
                                                   style="display: inline-block;">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3 am-margin-top-lg">
                                            <button type="submit" class="j-submit zx-addBut ">
                                                提交
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>